.budget-filter-container {
    background-color: #f9faf7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
  }
  
  .budget-filter-title {
    font-size: 14px;
    font-weight: bold;
    color: #495057;
    margin-bottom: 16px;
  }
  
  .range-values {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #005b96;
    margin-bottom: 8px;
  } 



/* Track before the first thumb */
.track-0 {
  background: #d9d9d9; /* Grey color */
}

/* Track between the thumbs */
.track-1 {
  background: #005B96; /* Blue color */
}

/* Track after the second thumb */
.track-2 {
  background: #d9d9d9; /* Grey color */
}

.horizontal-slider {
  width: 100%;
  height: 6px;
  background: #e0e0e0; /* Grey background for slider */
  border-radius: 4px;
  position: relative;
  margin-top: 10px;
}

.track {
 
  height: 6px;
  border-radius: 4px;
}

.thumb {
  height: 20px;
  width: 20px;
  background-color: #005b96; /* Blue thumb color */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -7px; /* Center the thumb on the slider */
}

 
  
  
  .thumb-label {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #005b96;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 4px;
    white-space: nowrap;
  }
  
  .budget-filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .budget-filter-buttons button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 24px;
  }
  
  .budget-filter-buttons .btn-outline-primary {
    color: #005b96;
    border-color: #005b96;
  }
  
  .budget-filter-buttons .btn-primary {
    background-color: #005b96;
    border-color: #005b96;
  }
  .custom-modal-content {
    border-radius: 16px;
    background-color: #F9FAF7; /* Light background */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  