:root {
  --font-primary: 'Poppins', sans-serif; /* Define the primary font */
}

body {
  margin: 0;
  font-family: var(--font-primary); /* Use the primary font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
